* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0 30px;
}

h1,
h2,
p {
    text-align: center;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 150px;
    object-fit: cover;
    border: 15px solid rgb(215, 255, 252);
    border-radius: 10px;
}

ul,
ol {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

li {
    display: inline-block;
    border: 1px solid black;
    padding: 8px;
    background-color: rgb(215, 255, 252);
    border-radius: 3px;
}

ol li {
    display: block;
    margin-bottom: 10px;
}